html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    Background:#778899;
    position: relative;
}

#show {
    height: 90%;
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#input {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

#output {
    height: 100%;
    width: 50%;
    float: left;
    background: #dcdcdc;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #696969;
}

.view {
    height: 30%;
    width: 30%;
    Background:#add8e6;
    float: left;
    position: relative;
    margin-bottom: 1%;
}

.view img {
    max-width: 100%;
    height:auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
}

.move {
    height: 30%;
    width: 30%;
    Background:#add8e6;
    float: left;
    position: relative;
    margin-bottom: 1%;
}

.result {
    height: 30%;
    width: 40%;
    Background:#add8e6;
    float: right;
    margin-bottom: 1%;
}
    

#sketch {
    Background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: auto;
}



.sketch_under {
    height: 10%;
    width: 90%;
    position: absolute;
    bottom:0;
    left:5%;
    right:0;
}

#logo {
    height: 100%;
    width: 30%;
    float: left;
 }

#rec-button {
    height: 100%;
    width: 30%;
    Background: #add8e6;
    box-shadow: 0 5px 0 #409ecc;
    border-radius: 5px;
    text-align: center;
    float: left;
    color: #696969;
    border-style: none;
}

#rec-button:hover {
    background-color: #409ecc;
    box-shadow: 0 0px 0 ;
    color: gray;
}
#rec-button:active {
    background-color: #409ecc;
    box-shadow: 0 0px 0 ;
    color: gray;
}

#search-button {
    height: 100%;
    width: 30%;
    Background: #dda0dd;
    box-shadow: 0 5px 0 #ba55d3;
    border-radius: 5px;
    text-align: center;
    float: right;
    color: #696969;
    border-style: none;
}

#search-button:hover {
    background-color: #ba55d3;
    box-shadow: 0 0px 0 ;
    color: gray;
}
#search-button:active {
    background-color: #ba55d3;
    box-shadow: 0 0px 0 ;
    color: gray;
}
