html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    Background: #808080;
    position: relative;
}

#input {
    height: 90%;
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* margin-right: auto; */
    /* margin-left : auto; */
}

#status {
    height: 10%;
    width: 50%;
    float: right;
    Background: #ff6347;
    color: white;
}


#sketch {
    Background: white;
    float: left;
}

.button {
    height: 15%;
    width: 50%;
    float: right;
    margin-top:5%;

}

#rec-button {
    height: 100%;
    width: 45%;
    Background: #1abc9c;
    float: left;
    color: white;
}

#search-button {
    height: 100%;
    width: 45%;
    Background: #4169e1;
    float: right;
    color: white;
}


#use-img {
    height: 43%;
    width: 50%;
    Background: #ffb6c1;
    float: right;
    margin-top:5%;
    margin-bottom:0;
    color: white;
}

