html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    Background: #a9a9a9;
    position: relative;
}

#show {
    height: 90%;
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#input {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

#output {
    height: 100%;
    width: 50%;
    float: left;
    background: #ffa07a;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

/* .img { */
/*     height: 30%; */
/*     width: 40%; */
/*     Background:gray; */
/*     float: left; */
/* } */

/* .result { */
/*     height: 30%; */
/*     width: 60%; */
/*     Background:gray; */
/*     float: left; */
/* } */
    

#sketch {
    Background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: auto;
}



.sketch_under {
    height: 10%;
    width: 90%;
    position: absolute;
    bottom:0;
    left:5%;
    right:0;
}

#logo {
    height: 100%;
    width: 30%;
    float: left;
 }

#rec-button {
    height: 100%;
    width: 30%;
    Background: #3cb371;
    box-shadow: 0 5px 0 #2e8b57;
    border-radius: 5px;
    text-align: center;
    float: left;
    color: white;
    border-style: none;
}

#rec-button:hover {
    background-color: #2e8b57;
    box-shadow: 0 0px 0 ;
    color: gray;
}
#rec-button:active {
    background-color: #2e8b57;
    box-shadow: 0 0px 0 ;
    color: gray;
}

#search-button {
    height: 100%;
    width: 30%;
    Background: #4169e1;
    box-shadow: 0 5px 0 #00008b;
    border-radius: 5px;
    text-align: center;
    float: right;
    color: white;
    border-style: none;
}

#search-button:hover {
    background-color: #00008b;
    box-shadow: 0 0px 0 ;
    color: gray;
}
#search-button:active {
    background-color: #00008b;
    box-shadow: 0 0px 0 ;
    color: gray;
}
